.column1{
    text-align: center;
    display: inline-block;
    margin-left: 45%;
}
.column2{
    float: right;
    width: 5%;
}

/* Styles for the sidebar navigation */
#tlines{
    float: left;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #CCCCCC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

  .sidenav a:hover {
    color: #f1f1f1;
}

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  #main {
    transition: margin-left .5s;
    padding: 16px;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Gallery*/
.fields{
    font-weight: 900;
}

.gallery {
    margin: 5px;
    border: 1px solid rgb(88, 86, 86);
    float: left;
    width: 180px;
}
  
.gallery:hover {
    border: 1px solid #777;
}

.desc {
    padding: 15px;
    text-align: center;
}

/*ADD*/
/*#rowAdder {
    margin-left: 17px;
}
#addwhole{
    margin-left: 35%;
    width: 16%;
}

.fields, desc{
    margin: 5px;
    float: left;
    width: 180px;
}
.input-group-m-3{
    float:left;
    clear: both;
}*/

/*New Add*/
:root {
    --clr-primary: #2962ff;
    --clr-primary-hover: #0d47a1;
    --clr-gray-med: #78909c;
    --clr-gray-light: #cfd8dc;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 2em;
    font-family: "Open Sans", sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--clr-gray-light);
  }
  
  .btn-add {
    width: 6em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    background-color: #2962ff;
    color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-radius: 0.2em;
    outline: none;
    transition: all 100ms ease-in;
  }
  
  .btn-add:active,
  .btn-add:hover {
    background-color: var(--clr-primary-hover);
  }
  
  main {
    margin-top: 1em;
  }
  
  #div-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em 0em;
  }
  
  .div-shadow {
    width: 5em;
    height: 2em;
    margin: 0 1em 1em 0;
    transition: all 100ms ease-in-out;
  }
  
  .div-shadow:nth-child(odd) {
    box-shadow: 0px 0px 10px var(--clr-gray-med);
  }
  
  .div-shadow:nth-child(even) {
    box-shadow: inset 0px 0px 10px var(--clr-gray-med);
  }
  
  .div-shadow:hover {
    transform: scale(1.2);
  }
  
  .row {
    background-color: oldlace;
    border-bottom: 1px black solid;
    border-radius: 15px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    margin-top: 5px;
    width: 33.3%;
    padding-left: 10px;
    display: inline-grid;
  }
  .grid-container {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-template-columns: auto auto auto;
  }