
#background-image {
    text-align: center;
    padding: 100px 0 100px 0;
    background-image: url(../pic/geometric-elements-red-color-abstract-vector-with-transparent-background.webp);
    background-size: 2000px;
    background-attachment: fixed;
    font-family: cursive;
}