/* Styles for the sidebar navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CCCCCC;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Styles for the kanbanboard ----------------------------------------*/
.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
}

.kanban-block {
  padding: 0 0 1em 0;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Makes a shadow along the border*/
}

#todo {
  background-color: #FFFFFF;
}

#inprogress {
  background-color: #FFFFFF;
  /* display: none; */
}

#done {
  background-color: #FFFFFF;
  /* display: none; */
}

.task {
  background-color: #FFFFFF;
  margin: 0.3em 0.8em 0.2em 0.8em;
  /* border: 0.1rem solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Makes a shadow along the border*/
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem 1rem 2rem;
  border-left: solid #E60000 0.5em;
  cursor: pointer;
  word-break: break-word; 
}

.storyTitle {
  font-size: large;
}

.storyInformation {
  transform: rotate(90deg);
  width: 5%;
  display: flex;
  margin-left: 40%; 
  margin-top: 0;
  margin-bottom: -6%;
  font-size: 20px;
  position: relative;
}

.storyInformation::before {
  content: attr(data-hover);
  left: -42px;
  top: 5px;
  visibility: hidden;
  opacity: 0;
  width: max-content;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
}

.storyInformation:hover::before {
  opacity: 1;
  visibility: visible;
  font-size: small;
}

.closeButton {
  display: none;
  
}

.closeButton::before {
  z-index: 2;
  left: -27px;
}

.showMoreBlock {
  display: none;
  margin-top: 15px;
}

#task-button {
  background: transparent;
  border: none;
  font-size: 35px;
  margin-left: 0.3em;
  border-radius: 1em;
}

#task-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

h2 {
  padding: 20px 20px 5px 5px;
  background-color: #E60000 !important;
  color: #FFFFFF !important;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  /* text-align: center; */
}

.backlogTitle,
.inProgressTitle,
.doneTitle {
  margin-left: 1em;
}

/* Add a new Story block ---------------------------------------------*/

.create-new-task-block {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.2rem;
  border-left: solid #E60000 0.5em;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  position: absolute; 
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 26%;
  padding: 2rem 1rem 1rem 2rem;
  max-height: 50%;
  min-height: 218px;
  max-width: 46%;
  min-width: 495px;
}

/* Buttons: */
#save-button,
#delete-button,
#update-button {
  border-radius: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: #E60000;
  justify-content: center;
  align-items: flex-start;
}

#delete-button,
#save-button {
  display: none;
}

#cancel-button {
  padding-bottom: 0.5em;
}

/*
#cancel-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 00.5em;
}
*/

#storyNameForm,
#descritptionForm,
#storyColorForm,
#storyDueDate {
  border-radius: 0.2em;
  border: solid 0.1em rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  width: 98%;
  margin-bottom: 7px;
  display: block;
}

#storyNameForm:focus,
#descritptionForm:focus {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.1em rgba(0, 0, 0, 0.2);
  outline: none;
}

#descritptionForm {
  resize: vertical; 
  max-height: 145px;
  min-height: 73px;
}

#storyNameForm {
  margin-top: 7px;
}

.story-border{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit::after,
#cancel-button { 
  content: '\2807';
  font-size: 20px; 
  float: right; 
  justify-items: top;
  margin-top: -30px;
}
